@media (max-width:1120px) {
    .card {
        flex-direction: column-reverse;
        width: 33rem;
        height: 78rem;
    }

    .card-text {
        height: 100%;
        padding: 0;
        flex-basis: 75%;
        text-align: center; 
        
    }
    .card-img {
        height: 100%;
        flex-basis: 25%; 
                    

    }

   
}
    