@media (max-width:375px) {
    .container {
        width: 33rem;
    }

    .info {
        padding: 0rem 2.6rem;
    }

    #description {
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: 0.06rem;
        line-height: 2.6rem;
    }

    #plan {
        font-size: 1.4rem;
    }

    #price {        
        font-weight: 500;
        font-size: 1.4rem;
    }

    #change {
        font-size: 1.3rem;
    }
    .payment-btn {
        height: 5rem;
        font-size: 1.5rem;
    }

    #cancel {
        font-size: 1.5rem;
    }
}